<% @page_title = "Login" -%>
<div class= "Sign_Form">
	<h1>Login</h1>
	<%= form_tag(:action => 'login') do %>
		<p>
		Enter username or email:</br> <%= text_field_tag(:username_or_email) %>
		</p>
		<p>
		Password:</br> <%= password_field_tag :login_password %>
		</p> 
		<%= submit_tag("Login") %>
	<% end %>
</div>
